.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: black;
    color: rgb(238, 236, 236);
    border-top: 1px solid var(--light-gray);
    margin-top: auto;
  }
  
  
  .Footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .Footer  .top {
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .top .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
 } 
 .top .left img {
  background: white;
  border-radius: 3rem;
  height: 3rem;
  width: 3rem;
 }

 .top .middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 8rem;
}
.top .middle ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-right: 2rem;
}

.top .middle ul li {
  position: relative;
}
.top .middle ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: rgb(196, 195, 195);
  transition: color 0.3s ease-in-out;
}

.top .middle ul li a:hover {
  text-decoration: line-through;
}

 .top .right {
  display: flex;
  align-items: center;
  gap: 3rem;
 }
 .top .right img {
  background: white;
  border-radius: 3rem;
  height: 3rem;
  width: 3rem;
 }
 .Footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  width: 100%;
 }
 .Footer .bottom p {
  white-space: nowrap;
  margin: 0;
 }