.Homepage {
    margin-top: -10rem;
}
.Home {
    display: flex;
    justify-content: center;
    gap: 30rem;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    /* font-size: 24px; */
    font-weight: bold;
    color: #333;
    margin-right: 70px;
}
.HomeText {
    /* width: 100%; */
    font-size: 28px;
    font-weight: bold;
    color: #333;
    position: relative;
}
.HomeText p{

}
.HomeImage {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-size: cover; */
    /* margin-bottom: 20px; */
}
.HomeImage img{
    width: 400px;
    border-radius: 20%;
    height: auto;
    animation: levitate 3s infinite ease-in-out;
}
@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


.vertical {
    position: absolute;
    left: -100px; 
    top: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}
.vertical hr {
    width: 2px;
    height: 50px; 
    background-color: #999;
    border: none;
}
.vertical span {
    writing-mode:sideways-lr; 
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #666;
    margin-top: 10px; 
}

.Scroll {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Scroll p {
  animation: bounceFade 1.5s infinite ease-in-out;
}
@keyframes bounceFade {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
.Scroll hr {
    width: 2px;
    height: 200px; 
    background-color: #999;
    border: none;
}
.Scroll hr:nth-child(2) {
    width: 2px;
    height: 50px; 
    background-color: #999;
    border: none;
}